<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="6.jss"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css'><link rel="stylesheet" href="6.css">
    <title>Alumni Donation</title>
</head>
<body>
{{>header}}
<br><br><br><br>
<div class="container col-md-8 col-xl-6 my-3 bg-dark text-light rounded">
  <h1 class="mx-3 mt-3">Donate</h1>
  <hr color="white">
 <form class="m-3 p-2 pb-3" method="post" action="donatesecure">
  <div class="mb-3">
    <label for="exampleInputEmail09" class="form-label">Address</label>
    <input type="text" class="form-control" id="exampleInputEmail09"  name="address"  aria-label="Username" required>
  </div>
  <div class="mb-3">
  <label class="form-label">Mobile</label>
    <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">+91</span>
  <input type="number" class="form-control" placeholder="9999999999" aria-label="Username" aria-describedby="basic-addon1" name="mobile" required>
</div>
   
  </div>
    <div class="mb-3">
    <label  class="form-label">Amount</label>
    <div class="input-group mb-3">
  <span class="input-group-text">Rs.</span>
  <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="amount">
  <span class="input-group-text">.00</span>
</div>
  </div>
  <input type="text" name="owner" id="owner" style="display: none;">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>    
  {{>footer}}   
</body>
<script
  type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"
></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
</html>
<script>
  
  document.getElementById('owner').value=localStorage.getItem('token')
  
</script>