<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Alumni Second Page</title>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"><link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css'><link rel="stylesheet" href="5.css">


<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
    #search
    {
        position: relative;
        margin-left: 10px;
        padding: 1px;
        color:brown;
        background-color: indianred;
    } 
     #mo
{
    position: relative;
    margin-left: 150px;
}
    #g
{
    margin-left:70px;
}
    #year
    {
        position: absolute;
       margin-left: 48px;
    }
    #y
    {
        margin-left: 48px;
    }
    #f
    {
     margin-left: 7px;
    }
    #menu{
        position: relative;
        margin-left: 15px;
        padding:3px;
    }
</style>

</head>
<body>
<!-- partial:index.partial.html -->
{{>header}}

    <h1>SEARCH ALUMNI ACTIVITIES/MEET</h1><br>
    <form action="events" method="get">
    <label for="f" id="f"> Branch</label>
    <select id="menu" name="branch" type="text">
        <option value="all">All</option>
        <option value="pe">Petroleum Engineering</option>
        <option value="ce">Chemical Engineering</option>
        <option value="cse">Computer Science Engineering </option>
        <option value="ece">Electronics Engineering</option>
    </select>
    {{!-- <label for="y" id="y">Year</label>
    <select id="year" name="year" type="number">
        <option>2015</option>
        <option>2016</option>
        <option>2017</option>
        <option>2018</option>
        <option>2019</option>
    </select> --}}
   
    <button id="search"  type="submit"> Search </button>
    </form>
    <caption id="cap">View Alumni Activities/Meet</caption>
    <table id="table">
        <tr id="1">
            <th>Branch</th>
            <th>Year</th>
            <th>Event Description</th>
        </tr>
        {{#each events}}
        <tr>
            <td>{{this.branch}}</td>
            <td>{{this.year}}</td>
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
    </table>
  {{>footer}}
    
    </body>
</html>
