<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Alumni Second Page</title>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"><link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css'><link rel="stylesheet" href="5.css">
<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
    #search
    {
        position: relative;
        margin-left: 10px;
        padding: 5px;
        color:brown;
        background-color: indianred;
    } 
     #mo
{
    position: relative;
    margin-left: 150px;
}
    #g
{
    margin-left:70px;
}
    #year
    {
        position: absolute;
       margin-left: 48px;
    }
    #y
    {
        margin-left: 48px;
    }
    #f
    {
     margin-left: 7px;
    }
    #menu{
        position: relative;
        margin-left: 15px;
    }
</style>
</head>
<body>
<!-- partial:index.partial.html -->
{{>navbar}}

    <h1>SEARCH ALUMNI ACTIVITIES/MEET</h1><br>
    <label for="f" id="f"> Branch</label>
    <select id="menu">
        <option>Petroleum Engineering</option>
        <option>Chemical Engineering</option>
        <option>Computer Science Engineering </option>
        <option>Electronics Engineering</option>
    </select>
    <label for="y" id="y">Year</label>
    <select id="year">
        <option>2015</option>
        <option>2016</option>
        <option>2017</option>
        <option>2018</option>
        <option>2019</option>
    </select>
    <label for="months" id="mo"> Months</label>
    <input type="month" id="g">
    <button id="search"> Search </button>
    <caption id="cap">View Alumni Activities/Meet</caption>
    <table id="table">
        <tr id="1">
            <th>Si No.</th>
            <th>Branch</th>
            <th>Year</th>
            <th>Event Description</th>
            <th>Images</th>
        </tr>
        <tr id="2">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr id="3">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr id="4">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr id="5">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr id="6">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr id="7">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr id="8">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr id="9">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr id="10">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr id="11">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr id="12">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <p>{{user}}</p>
</body>
</html>
