<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <img
        src="https://upload.wikimedia.org/wikipedia/en/9/91/Rajiv_Gandhi_Institute_of_Petroleum_Technology.png"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />

      <a class="navbar-brand" href="#"><b>RGIPT</b></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active pt-2"
              aria-current="page"
              href="/"
            >Home</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active pt-2 before"
              aria-current="page"
              href="#exampleModalToggle0"
              data-bs-toggle="modal"
            >Admin</a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link active pt-2 after"
              aria-current="page"
              href="/donate"
            >Donate</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active pt-2 after"
              aria-current="page"
              href="/events"
            >Events</a>
          </li>
        </ul>
        <div
          class="modal fade"
          id="exampleModalToggle0"
          aria-hidden="true"
          aria-labelledby="exampleModalToggleLabe0"
          tabindex="-1"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabe0">Admin Login</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form action="/adminentry" method="post">
                  <div class="mb-3">
                    <label for="exampleInputEmail9" class="form-label">Admin
                      Email address</label>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail9"
                      aria-describedby="emailHelp"
                      name="email"
                    />

                  </div>
                  <div class="mb-3">
                    <label
                      for="exampleInputPassword1o"
                      class="form-label"
                    >Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="exampleInputPassword10"
                      name="password"
                    />
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  class="btn btn-outline-secondary"
                  data-bs-target="#exampleModalToggle2"
                  data-bs-toggle="modal"
                >Go for Signup</button>
              </div>
            </div>
          </div>
        </div>
<div style="position: absolute;right:0; ">
        
        <a
          class="btn btn-outline-light mx-1 text-light after"
          role="button"
        >Welcome
          {{#if user}}
            {{user.name}}
          {{else}}
            <span id="laname"></span>
          {{/if}}</a>
        <a
          id="logout"
          class="btn btn-outline-primary mx-1 text-primary after"
          role="button"
          onclick="clr()"
        >Logout</a>
        <a
          class="btn btn-outline-success mx-1 before"
          data-bs-toggle="modal"
          href="#exampleModalToggle1"
          role="button"
        >Login</a>
        <a
          class="btn btn-outline-primary mx-1 before"
          data-bs-toggle="modal"
          href="#exampleModalToggle2"
          role="button"
        >Signup</a>
</div>
      </div>
    </div>
  </nav>

  <div
    class="modal fade"
    id="exampleModalToggle1"
    aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Sign In</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="logging" method="post">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                name="email"
                required
              />
              <div id="emailHelp" class="form-text">We'll never share your email
                with anyone else.</div>
            </div>
            <div class="mb-3">
              <label
                for="exampleInputPassword1"
                class="form-label"
              >Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                name="password"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-outline-secondary"
            data-bs-target="#exampleModalToggle2"
            data-bs-toggle="modal"
          >Go for Signup</button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModalToggle2"
    aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">Sign Up</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form
            action="secure"
            method="post"
            oninput='cpassword.setCustomValidity(cpassword.value != password.value ? "Passwords do not match." : "")'
          >
            <div class="mb-3">
              <label for="username" class="form-label">Full Name</label>
              <input
                type="string"
                class="form-control"
                id="username"
                name="name"
                required
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail8" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail8"
                aria-describedby="emailHelp"
                name="email"
                required
              />
              <div id="emailHelp" class="form-text">We'll never share your email
                with anyone else.</div>
            </div>
            <div class="row">
              <div class="mb-3 col-6">
                <label for="Batch" class="form-label">Batch (20XX)</label>
                <input
                  type="number"
                  class="form-control"
                  id="Batch"
                  name="batch"
                  required
                />
              </div>
              <div class="mb-3 col-6">
                <label for="roll" class="form-label">Roll number</label>
                <input
                  type="string"
                  class="form-control"
                  id="roll"
                  name="roll"
                  required
                />
              </div>
            </div>
            <div class="mb-3">
              <label
                for="exampleInputPassword2"
                class="form-label"
              >Password</label>
              <input
                minlength="7"
                type="password"
                class="form-control"
                id="exampleInputPassword2"
                name="password"
                required
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword3" class="form-label">Confirm
                Password</label>
              <input
                minlength="7"
                type="password"
                class="form-control"
                id="exampleInputPassword3"
                name="cpassword"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-outline-secondary"
            data-bs-target="#exampleModalToggle"
            data-bs-toggle="modal"
          >Go for Signin</button>
        </div>
      </div>
    </div>
  </div>

</header>
<script
  type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"
></script>
<script>

  $(document).ready(function () { 
    console.log('asutosh');
    if(localStorage.token == undefined || localStorage.token == '') {




   // console.log(localStorage.getItem('token')+ 'skuhai');
    var
  elems= document.getElementsByClassName('after'); for (var
  i=0;i<elems.length;i+=1){ elems[i].style.display = 'none'; }

  } else { 
//console.log(localStorage.getItem('token')+ 'dfhjh'); var
  elems=document.getElementsByClassName('before'); for (var
  i=0;i<elems.length;i+=1){ elems[i].style.display = 'none'; } 


 } 
  
  } )
  
  
  
  
  
  function clr() { console.log("formData"); var formData = { 'owner':
  localStorage.getItem('token')
   //for get email 
   }; 
   console.log(formData);
  $.ajax({ url: "/logout", type: "post", data: formData, success: function(d) {
  localStorage.clear();
  location.href='/'; } }); }
  document.getElementById('laname').innerHTML=localStorage.getItem('name')
</script>